*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(270deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: background 5s ease-in-out infinite;
}

#app_body{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
}

#app_body .title{
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

#app_body .btns button{
    padding: 10px 15px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#app_body .unit .sub-title{
    font-size: 18px;
    margin: 20px 0;
    font-weight: bolder;
}

#app_body .unit select{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 20px;
}

#app_body .unit input{
    width: 100%;
    font-size: 20px;
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    border: 2px solid palevioletred;
    outline: none;
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
}

hr{
    margin: 20px 0;
}




/* for weight */
.weight, .temp{
    display: none;
}
.weight.active, .temp.active{
    display: block;
}
/* for weight end*/



/* animation */
@keyframes background {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}
/* animation end*/